
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #EFE6DA;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: #F4F4F4;
    border: 2px solid #C28E79;
    border-radius: 20px;
    padding: 40px 30px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.logo{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column; /* <-- ISSO coloca um abaixo do outro */
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaço entre a bolinha da logo e o texto */
}


.logo-placeholder {
    width: 80px;
    height: 80px;
    background-color: #E8DCCF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-placeholder img {
    width: 70%;
}

.logo-text {
    color: #A0522D;
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px 20px;
    border-radius: 50px; 
    border: none;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    font-size: 0.9rem;
    color: #555;
    outline: none;
}

input::placeholder {
    color: #CCC;
}

input:focus {
    box-shadow: 0 4px 8px rgba(160, 82, 45, 0.2);
}

.btn-submit {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    border: none;
    background-color: #A55B3F; 
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

a{
    text-decoration: none;
    color: white;
}

.btn-submit:hover {
    background-color: #8E4A32;
}
